
:root {
    --icon-font-size: 27px;
    --footer-font-size: 29px;
}

* {
    margin: 0;
    padding: 0;
    color: #000;
    box-sizing: border-box;
    transition: all 0.2s ease;
}

header,
main,
footer {
    max-width: 1300px;
    min-width: 640px;
    margin: 0 auto;
}

body {
    background: #ffffff url("../images/header_bg.png") center top no-repeat;
}

@media screen and (min-width: 640px) {
    body {
        min-width: 640px;
    }
}

.header-wrapper,
.slider-item,
.icon-area-wrapper,
.news-area-wrapper,
.demo_area-wrapper,
.footer-wrapper {
    width: 78.4615385%;
    margin: 0 auto;
}
