
.slider-area {
    height: 398px;
    position: relative;
}

.slider-wrapper {
    display: flex;
    justify-content: center;
}

.slider-controls__left, .slider-controls__right {
    color: #fff;
    cursor: pointer;
    background: #f5c506 url("../images/arrow-small.svg") no-repeat center center;
    font-weight: bold;
    display: block;
    width: 32px;
    height: 57px;
    opacity: 0.71;
    top: 132px;
    text-align: center;
    position: absolute;
}

.slider-controls__left {
    left: 0;
}

.slider-controls__right {
    right: 0;
    transform: rotateY(180deg);
}

.slider-controls__left:hover,
.slider-controls__right:hover {
    opacity: 1;
}

.slider-item {
    display: flex;
    justify-content: center;
}

.slider-item__title {
    font-size: 63px;
    font-family: "Asap", "Lucida Sans", Arial, sans-serif;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    margin-top: 73px;
    line-height: 75px;
}

@media screen and (max-width: 999px) {
    .slider-item__title {
        font-size: 53px;
        line-height: 53px;
        margin-top: 63px;
    }
}

@media screen and (max-width: 780px) {
    .slider-item__title {
        font-size: 35px;
        line-height: 35px;
        margin-top: 63px;
    }
}

.slider-item__title__str-1 {
    margin-left: -14px;
    color: #f5c506;
    letter-spacing: .36px;
}

.slider-item__title__str-2 {
    color: #fff;
    letter-spacing: .5px;
}
