.controls-overlay {
    cursor: pointer;
    width: 549px;
    height: 327px;
    background-color: rgba(245, 197, 6, .11);
    margin-top: -327px;
    z-index: 3;
    position: relative;
    overflow: hidden;
}
.controls-overlay::before {
    display: block;
    content: '';
    border-radius: 50%;
    background: rgba(245, 197, 6, .72) url("../images/play.svg") no-repeat;
    background-position: 26px 16px;
    width: 68px;
    height: 68px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%) scale(1);
    transition: background-color ease 0.1s, transform ease 0.2s, opacity ease 0.2s;
}

.controls-overlay:hover::before {
    top: 50%;
    left: 50%;
    background-color: rgba(245, 197, 6, 1);
    transform: translate(-50%, -50%) scale(1.1);
}
.controls-overlay.play::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
}


.activecontrols {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 55px;
    transform: translateY(100%);
    transition: transform ease 0.2s;
}

.controls-overlay.play .activecontrols {
    transform: translateY(0);
}


.controls-overlay .track,
.controls-overlay .play-button,
.controls-overlay .soundonof-button {
    transition: opacity ease 0.2s;
    opacity: 0;
    position: absolute;
}

.track {
    bottom: 29px;
    margin-left: 80px;
    background-color: rgba(245, 197, 6, 0.28);
    border-radius: 6px;
    width: 405px;
    height: 12px;
}

.progress {
    background-color: rgba(245, 197, 6, 1);
    border-radius: 6px 0 0 6px;
    width: 44%;
    height: 12px;
}

.play-button {
    background-image: url("../images/play-pause.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(245, 197, 6, .37);
    color: #ffffff;
    bottom: 22px;
    left: 29px;
    padding: 5px;
    width: 27px;
    height: 27px;
    transition: background-color ease 2s;
}
.play-button:hover {
    background-color: rgba(245, 197, 6, 0.8);
}

.soundonof-button {
    background: url("../images/sound-on.png") center no-repeat;
    bottom: 22px;
    right: 14px;
    width: 27px;
    height: 26px;
}

.controls-overlay.soundof .soundonof-button {
    background: url("../images/sound-of.png") center no-repeat;
}
.soundonof-button:hover, .controls-overlay.soundof .soundonof-button:hover {
    background-color: rgba(245, 197, 6, .37);
}


.controls-overlay.play .track,
.controls-overlay.play .play-button,
.controls-overlay.play .soundonof-button {
    opacity: 1;
}
